/* src/commands/login/login.css */
html {
  background-color: #14161f;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100dvw;
  margin: 0;
}

h1 {
  color: #ffffff;
  text-align: center;
}
